body {
  font-family: "Josefin Sans", sans-serif;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}
.weather-app {
  padding: 40px;
  margin: 20px auto;
  border-radius: 20px;
  max-width: 600px;

  background: linear-gradient(
    225deg,
    rgba(101, 227, 241, 0.509) 10%,
    rgb(0, 172, 245) 100%
  );
  color: white;
}
form {
  margin-bottom: 30px;
  color: black;
}

header .city {
  margin-top: 25px;
  font-weight: 900;
  font-size: 60px;
}
header .sub-heading {
  opacity: 0.8;
}
header .weather-emoji {
  margin-top: 20px;
  font-size: 120px;
  text-align: center;
}
section .current-temp {
  margin-top: -35px;
  margin-bottom: 20px;
  font-size: 90px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

section .centigrade-fahrenheit {
  vertical-align: 200%;
  color: white;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}
section .current-conditions {
  list-style: none;
  padding: 0;
  margin: 0;
}
.submit {
  background-color: white;
  border-radius: 60px;
  border-color: 0;
  border-style: outset;
}
.future-forecast {
  text-align: center;
  margin-top: 20px;
}
.day-forecast {
  margin: auto 8px;
  font-size: 18px;
  font-weight: 800;
}
.day-forecast-emoji {
  font-size: 45px;
}

#weather-description {
  text-transform: capitalize;
}

#centigrade,
#fahrenheit {
  color: white;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

#centigrade:hover,
#fahrenheit:hover {
  opacity: 0.8;
}
